body {
  background-color: rgb(64, 193, 233);
  color: white;
}
.godbox {
  background-color: rgb(6, 84, 107);
  padding: 1.2rem;
  padding-bottom: 1.5rem;
  border-radius: 5px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1 {
  padding: 0px 10px;
  font-family: "Ubuntu";
  font-size: 3rem;
}
.logo-image {
  width: 50px;
  height: 35px;
  padding: 10px;
}
.login-nav {
  display: flex;
  flex-flow: row nowrap;
  margin: 0px 10px;
  justify-content: center;
  font-family: "Source Sans Pro";
  font-size: 1.2rem;
}
.login-nav p {
  padding: 5px;
  margin: 0px 10px;
}
.login-nav p:hover {
  font-size: 1.4rem;
  font-weight: 600;
}
.showtrue {
  display: block;
}
.showfalse {
  display: none;
}
